<div class="modal-content">
    <div class="card border-0 shadow-sm">
        <div class="d-flex justify-content-center">
            <img src="{{character?.image}}" class="card-img-top rounded-circle character-image" alt="{{character?.name}}">
        </div>
        <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">{{character?.name}}</h4>
            <p class="card-text text-secondary mb-1">Status: <span class="font-weight-bold">{{character?.status}}</span></p>
            <p class="card-text text-secondary">Species: <span class="font-weight-bold">{{character?.species}}</span></p>
            <button type="button" (click)="close()" class="btn btn-secondary mt-3" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
    </div>    
</div>
